.photo-booth{
     
}
.stream{
    border-radius: 10px;
    /* align-self: center; */
    padding: 10px;
    background-color: rgba(174, 44, 118, 0.5);
    height: 45vh;
    margin-top: 35%;
    margin-left: 10vw;
    min-width: 40%;
    max-width: 75%;
    
   
}
.video-container{
   padding: 10px;
   height: 85%;
   width : 94%;
   background-color: rgba(174, 44, 55, 0.5);
   border-radius: 15px;
   margin-right: 2%
   
}
.video-container video{
    height: 96%;
    width: 100%;
    border-radius: 10px;
    margin-right: 20px;
   
    
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
}